mat-form-field {
    width:100%
}

.btn {
    margin-bottom:0.5em;
}

.container {
    background-color: white;
}

.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:contain; /* you change this to "contain" if you don't want the images to be cropped */
}

.inputWrapperPhoto {
    height: 36px;
    width: 150px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.fileInput {
    cursor: pointer;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 99;
    /*This makes the button huge. If you want a bigger button, increase the font size*/

    /*Opacity settings for all browsers*/
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}