<div class="container">
    <div *ngIf="edited" class="alert alert-success alert-dismissible fade show" role="alert">
        Your profile has been successfully updated!
        <button type="button" class="close" (click)="edited = false" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="row"  style="margin:0em 1em;">
        <div class="col-sm-6 float-sm-left">
            <h2>Company Profile</h2>
        </div>
        <div class="col-sm-6">
            <button class="btn btn-link float-sm-right" (click)="toEdit()">Edit Profile</button>
        </div>
    </div>
    <div *ngIf="!loading">
        <div *ngIf="no_company">
            <div class="row">
                <div class="col">
                    Company not registered.
                </div>
            </div>
        </div>
        <div *ngIf="!no_company">
            <div class="row border border-black" style="padding:1em;margin:1em;">
                <div class="col-sm-4">
                    <div *ngIf="pic_url !== 'none'">
                        <img img class="img img-responsive img-thumbnail" (error)="updateUrl($event)" style="width:180px;height:180px;"  [src]="pic_url" alt="profile picture" />
                    </div>
                </div>
                <div class="col-sm-8">
                    <h4>{{company.name}}</h4>
                    <p>{{company.website}}</p>
                    <p><span *ngIf="company.establishment_date">Established on {{company.establishment_date | date}}<br/></span>
                    {{company.location}}</p>
                </div>
            </div>
            <div class="row border border-black" style="padding:1em;margin:1em;">
                <div class="col">
                    <h5>About the Company</h5>
                    <div class = "description">
                        <quill-view [content]="company.description"></quill-view>
                    </div>
                </div>
            </div>
            <div class="row border border-black" style="padding:1em;margin:1em;">
                <div class="col">
                    <div class = "contact">
                        <p>Email: {{company.email}}</p>
                        <p>Contact #: {{company.contact_no}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>