<div class="container">
    <div class="page-header">
        <h2>Your Job Ads</h2>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-primary" style="margin:1em 0" routerLink="/employer/jobs/create">Create Job Ad</button>
        </div>
    </div>
    <div *ngIf="!loading">
        <div *ngIf="count > 0">
            <div class="row">
                <div class="col">
                    <mat-form-field> 
                        <mat-select [(value)]="sortValue" (selectionChange)="selected($event)" name="sort" disableOptionCentering>
                            <mat-option value="Sort: Alphabetical A to Z">Alphabetical A to Z</mat-option>
                            <mat-option value="Sort: Alphabetical Z to A">Alphabetical Z to A</mat-option>
                            <mat-option value="Sort: Latest to Oldest">Latest to Oldest</mat-option>
                            <mat-option value="Sort: Oldest to Latest">Oldest to Latest</mat-option>
                            <mat-option value="Sort: Nearest Deadline">Nearest Deadline</mat-option>
                            <mat-option value="Sort: Farthest Deadline">Farthest Deadline</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="list-group">
                        <ng-container *ngFor="let job of jobs">
                            <div class="list-group-item rounded-0">
                                <app-job-ad [job]=job></app-job-ad>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <button type="button" class="btn btn-outline-primary" (click)="loadPage(1)" [disabled]='onFirstPage'>First</button>
                        <button type="button" class="btn btn-outline-primary" (click)="loadPage(+page-1)" [disabled]='onFirstPage'>Previous</button>
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{page}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <ng-container *ngFor='let item of [].constructor(pageCount); let i = index'>
                                    <a class="dropdown-item" (click)="loadPage(i+1)">{{i+1}}</a>  
                                </ng-container>
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-primary" (click)="loadPage(+page+1)" [disabled]='onLastPage'>Next</button>
                        <button type="button" class="btn btn-outline-primary" (click)="loadPage(pagecount)" [disabled]='onLastPage'>Last</button>
                    </div>  
                </div>
            </div>
        </div>
        <div *ngIf="count === 0">
            <div class="row no-jobs">
                <div class="col">
                    <p>You don't have any jobs posted.</p>
                </div>
            </div>
        </div>
    </div>
</div>