<app-seeker-navbar class="sticky-top d-block"></app-seeker-navbar>
<div *ngIf="accepts.length > 0 && router.url.split('/')[2] !=='apps'" class="alert alert-success alert-dismissible fade show full-width" role="alert">
    You have been accepted in {{accepts.length}} position<span *ngIf="accepts.length>1">s</span>! <a href="javascript:;" (click)="followLink()">Click here to view.</a>
    <button type="button" class="close" (click)="removeNotifs()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<router-outlet></router-outlet>