<div class="modal-content">
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6 text-center">
                <h3>Looking for a job?</h3>
                <button class="btn btn-primary" (click)="seeker()">
                    Sign Up as a Jobseeker!
                </button>
            </div>
    
            <div class="col-sm-6 text-center">
                <h3>Looking for potential hires?</h3>
                <button class="btn btn-secondary" (click)="employer()">
                    Sign Up as an Employer!
                </button>
            </div>
        </div>
    </div>
</div>