<div class="container-fluid" style="height:100%"> 
    <div class="row">
        <div class="col">
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Welcome to Hackerium!</h1>
              <p class="lead">Apply for jobs and take technical interviews at the same place with convenience.</p>
              <hr class="my-4">
              <p>For companies and developers alike.</p>
              <p class="lead">
                <button class="btn btn-primary" (click)="signup()">Register Now!</button>
              </p>
            </div>
          </div>
        </div>
    </div>
</div>